<h2>Sign in</h2>

<p>Welcome!  You can sign into this application using your account from
	Twitter, Facebook, or LinkedIn.</p>
<p> If you have previously signed into the application, choose 
	one of the services which you have already authorized. If you are a
	new user, choose any service where you have an account.</p>
	
<%= link_to "Sign in with Twitter", "/auth/twitter" %><br />
<%= link_to "Sign in with Facebook", "/auth/facebook" %><br />
<%= link_to "Sign in with LinkedIn", "/auth/linked_in" %>
